-content_for :title, 'New Skill : Dashboard : Matt Rayner'

.jumbotron
  %h1 New Skill
  %p.lead
    Create a skill and link it to case studies to show your ability.

= render 'admin/shared/validation', object: @skill

= simple_form_for(@skill, url: admin_skills_path, html: { class: 'form-horizontal' }) do |form|
  = render 'admin/skills/shared/form_fields', form: form