-content_for :title, 'New Case Study : Dashboard : Matt Rayner'

.jumbotron
  %h1 New Case Study
  %p.lead
    Create a case study to highlight some portfolio work. Use rich MarkDown to make it interesting.

= render 'admin/shared/validation', object: @case_study

= simple_form_for(@case_study, url: admin_case_studies_path, html: { class: 'form-horizontal' }) do |form|
  = render 'admin/case_studies/shared/form_fields', form: form