// Base Styles
$white:      #fff;
$pink-color: #E5007D;
$gray:       #878786;

// Button Styles
$btn-cta-bg: #1F7D8C;

// Breadcrumb styles
$breadcrumb-bg:        #373737;
$breadcrumb-color:     #A09F9F;
$breadcrumb-separator: #606060;

// Navigation styles
$navigation-bg: rgba(0, 0, 0, 0.8);