- content_for(:title, 'Skills : Matt Rayner : Full Stack Rubyist in London')
- content_for(:breadcrumbs, build_breadcrumbs({title: 'Skills', url: skills_url}))

.full-bleed-image.skills
  .container
    .skills-content
      %h1 Skills