%nav.navbar.navbar-inverse.navbar-translucent.navbar-fixed-top.sticky
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#main-site-navbar' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Matt Rayner', root_url, class: 'navbar-brand mattrayner-logo ir'
    #main-site-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.site-nav
        %li{ class: home_nav_class }
          %a{ href: root_url }
            Home
            - unless home_nav_class.nil?
              %span.sr-only
                (current)
        %li{ class: case_studies_nav_class }
          %a{ href: case_studies_url }
            Case Studies
            - unless case_studies_nav_class.nil?
              %span.sr-only
                (current)
        %li{ class: skills_nav_class }
          %a{ href: skills_url }
            Skills
            - unless skills_nav_class.nil?
              %span.sr-only
                (current)
      - unless @cv_url.nil?
        %ul.nav.navbar-nav.navbar-right.navbar-pink
          %li
            %a{ href: @cv_url, target: '_blank', rel: 'nofollow' }
              Get My CV
