- content_for(:title, 'Matt Rayner : Full Stack Rubyist in London')
- content_for(:breadcrumbs, build_breadcrumbs)

.full-bleed-image.home
  .container
    .home-content
      %span.sr-only
        %h1 Matt Rayner
        %p.lead Full stack Rubyist in London
.container.text-center
  .home-divider