- content_for(:title, 'Matt Rayner : Full Stack Rubyist in London')
- content_for(:breadcrumbs, build_breadcrumbs)

%h1 Matt Rayner
%p Thanks for your interest! I'm busy beavering away behind the scenes to get my new site up and running. Until then, you can catch me on GitHub.