-content_for :title, 'New Project : Dashboard : Matt Rayner'

.jumbotron
  %h1 New Project
  %p.lead
    Create a project to highlight some portfolio work. Use rich MarkDown to make a project interesting.

= render 'admin/shared/validation', object: @project

= render 'admin/projects/shared/form'