- content_for(:title, 'Case Studies : Matt Rayner : Full Stack Rubyist in London')
- content_for(:breadcrumbs, build_breadcrumbs({title: 'Case Studies', url: case_studies_url}))

.full-bleed-image.case-studies
  .container
    .case-studies-content
      %h1 Case Studies
