@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}